@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2C2C2C;
  color: #FFF;
  font-family: "Cormorant", serif;
}

body {
  margin: 1.25rem 1.875rem;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav__name {
  font-size: 1.5rem;
  font-weight: 700;
}
nav .nav__name--standout {
  color: #D9BEA5;
}
nav .nav__nav-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: center;
  width: 100%;
  left: -100%;
  top: 4.4rem;
  transition: 0.3s;
}
nav .nav__nav-menu .nav__nav-item {
  margin: 1rem 0;
}
nav .nav__nav-menu .nav__nav-item .nav__nav-link {
  transition: 0.7s ease;
}
nav .nav__nav-menu .nav__nav-item .nav__nav-link:hover {
  color: #D9BEA5;
}
nav .nav__nav-menu.active {
  left: 0;
}
nav .nav__hamburger {
  cursor: pointer;
}
nav .nav__hamburger .nav__bar {
  display: block;
  width: 1.6rem;
  height: 1px;
  margin: 7px 0;
  background-color: #FFF;
}
nav .nav__hamburger .nav__bar--mini {
  width: 1.1rem;
}

.intro .intro__big-title {
  font-size: 5rem;
  font-weight: 400;
  line-height: 6rem;
  margin-top: 6.7rem;
}
.intro .intro__hort-rule {
  width: 6rem;
  height: 0.25rem;
  background-color: #D9BEA5;
  margin: 3rem 0;
}
.intro .intro__description {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 4.6rem;
}

.portfolio .portfolio__title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.portfolio .portfolio__title-container .portfolio__big-title {
  font-size: 2rem;
  margin-right: 1rem;
}
.portfolio .project {
  display: flex;
  flex-direction: column;
}
.portfolio .project .project__img {
  width: 100%;
  height: 12rem;
  background-color: #3B3636;
  margin-top: 3rem;
}
.portfolio .project .project__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.9rem 0;
}
.portfolio .project .project__description .project__title-container {
  display: flex;
  flex-direction: column;
}
.portfolio .project .project__description .project__title-container .project__title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.portfolio .project .project__description .project__title-container .project__hort-rule {
  background-color: #D9BEA5;
  width: 4.1rem;
  height: 1px;
}
.portfolio .project .project__description .project-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.5rem;
}
.portfolio .project .project__description .project-details-container .project__circle-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #3B3636;
  border-radius: 50%;
}
.portfolio .project .project__knowledge {
  display: flex;
  justify-content: flex-start;
}
.portfolio .project .project__knowledge .project__tag-container {
  display: flex;
  justify-content: space-between;
  width: 9.2rem;
}
.portfolio .project .project__knowledge .project__tag-container .project__tag-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.1rem;
  height: 1.3rem;
  background-color: #3B3636;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  text-decoration: none;
}

.profile .profile__title-container .profile__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.2rem;
  margin-top: 4.6rem;
}
.profile .profile__title-container .profile__hort-rule {
  width: 2.8rem;
  height: 2px;
  background-color: #D9BEA5;
  margin: 3px;
}
.profile .profile__description .profile__img {
  width: 100%;
  margin: 4.3rem 0;
}
.profile .profile__description .profile__content {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

.skills .skills__template .skills_title-container {
  margin: 5.3rem 0 3.3rem;
}
.skills .skills__template .skills_title-container .skills__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.skills .skills__template .skills_title-container .skills__hort-rule {
  width: 2.9rem;
  height: 2px;
  background-color: #D9BEA5;
}

@media screen and (min-width: 768px) {
  nav .nav__nav-menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: auto;
    gap: 5.6rem;
  }
  nav .nav__hamburger {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  nav .nav__nav-menu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: auto;
    gap: 5.6rem;
  }
  nav .nav__hamburger {
    display: none;
  }
}