// import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter&display=swap');


// variables

// color
// background color
$background-color: #2C2C2C;
$container-color: #3B3636;
$social-media-color: #453F3F;
$divider-color: #5C5C5C;

// text color
$text-color: #FFF;
// horizontal rule, border color
$standout-color: #D9BEA5;


// font family
$primary-font: 'Cormorant', serif;
$secondary-font: 'Inter', sans-serif;


// tag selector

* {
    // CSS RESET
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // APPLY TO ALL
    background-color: $background-color;
    color: $text-color;
    font-family: $primary-font;
}

header, main {
    margin: 0 1.875rem;
}

a:link,
a:visited {
    text-decoration: none;
}

li {
    list-style: none;
}

hr {
    border-style: none;
}

// components

// top navbar
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 1.875rem;

    .nav__name {
        font-size: 1.5rem;
        font-weight: 700;

        &--standout {
            color: $standout-color;
        }
    }

    .nav__nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        text-align: center;
        width: 100%;
        // hide the menu from our view
        left: -100%;
        top: 4.4rem;
        transition: 0.3s;

        .nav__nav-item {
            margin: 1rem 0;

            .nav__nav-link {
                font-family: $secondary-font;
                transition: 0.7s ease;
            }

            .nav__nav-link:hover {
                color: $standout-color;
            }

        }

        &.active {
            // display the menu
            left: 0;
        }
    }

    .nav__hamburger {
        cursor: pointer;

        .nav__bar {
            display: block;
            width: 1.6rem;
            height: 1px;
            margin: 7px 0;
            background-color: $text-color;

            &--mini {
                width: 1.1rem;
            } 

        }

    }

}


// Header section

#intro {
    .intro__big-title {
        font-size: 5rem;
        font-weight: 400;
        line-height: 6rem;
        margin-top: 6.7rem;
    }

    .intro__hort-rule {
        width: 6rem;
        height: 0.25rem;
        background-color: $standout-color;
        margin: 3rem 0;
    }

    .intro__description {
        font-family: $secondary-font;
        font-size: 1rem;
        line-height: 1.6rem;
        margin-bottom: 4.6rem;
    }
}


// Portfolio section

#portfolio {
    .portfolio__title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .portfolio__big-title {
            font-size: 2rem;
            margin-right: 1rem;
        }

    }

    .portfolio__container {

        // individual project
        .project {
            display: flex;
            flex-direction: column;

            .project__img {
                width: 100%;
                height: 12rem;
                background-color: $container-color;
                margin-top: 3rem;
            }

            .project__description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.9rem 0;

                .project__title-container {
                    display: flex;
                    flex-direction: column;

                    .project__title {
                        font-size: 1.8rem;
                        font-weight: 400;
                        line-height: 3rem;
                    }

                    .project__hort-rule {
                        background-color: $standout-color;
                        width: 4.1rem;
                        height: 1px;
                    }
                }

                .project-details-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 6.5rem;

                    .project__circle-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 2.8rem;
                        height: 2.8rem;
                        background-color: $container-color;
                        border-radius: 50%;

                    }

                }

            }

            .project__knowledge {
                display: flex;
                justify-content: flex-start;

                .project__tag-container {
                    display: flex;
                    justify-content: space-between;
                    width: 9.2rem;
        
                    .project__tag-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 4.1rem;
                        height: 1.3rem;
                        background-color: $container-color;
                        font-family: $secondary-font;
                        font-weight: 600;
                        font-size: 0.6rem;
                        text-decoration: none;
                    }
        
                }
            }

            
        }
    }
}


// Profile section

#profile {

    .profile__title-container {

        .profile__title {
            font-weight: 700;
            font-size: 2rem;
            line-height: 3.2rem;
            margin-top: 4.6rem;
        }

        .profile__hort-rule {
            width: 2.8rem;
            height: 2px;
            background-color: $standout-color;
            margin: 3px;
        }

    }

    .profile__img-container {
        .profile__img {
            width: 100%;
            height: 20%;
            margin: 4.3rem 0;
        }
    }

    .profile__description {

        .profile__content {
            font-family: $secondary-font;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.6rem;

        }
    }

}


// Resume section
#resume {
    .resume__template {

        .resume_title-container {
            margin: 5.3rem 0 3.3rem;

            .resume__title {
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 2.4rem;
            }

            .resume__hort-rule {
                width: 2.9rem;
                height: 2px;
                background-color: $standout-color;
            }
        }

        .resume__row {

            .resume__toggle-button {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
                width: 100%;
                border: none;
                text-align: left;

                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: $standout-color;
                }

                // add a plus button
                &::after {
                    content: "\002B";
                    font-size: 2rem;
                    float: right;
                }

                // switch to a minus button after a click event
                &.active::after {
                    content: "\2212";
                }
            }
            

            .resume__dropdown-menu {
                // to make an animated slide dowm
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out;

                .resume__period {
                    font-size: 0.8rem;
                    color: $standout-color;
                }

                .resume__dropdown-list {

                    .resume__dropdown-list-item {
                        font-family: $secondary-font;
                        font-weight: 400;
                        font-size: 0.7rem;
                        margin: 1rem 0;
                    }

                    .resume__dropdown-list-item::before {
                        content: "•";
                        color: $standout-color;
                    }

                }

            }

        }

        .resume__divider {
            width: 100%;
            height: 1px;
            background-color: $divider-color;
            margin: 1.3rem 0;
        }

    }

}

// Contact section
#contact {
    text-align: center;

    .contact__title {
        font-size: 5rem;
        font-weight: 400;
        line-height: 6rem;
        margin: 7.3rem 4rem;
    }

    .contact__button {
        font-family: $secondary-font;
        font-size: 1.1rem;
        border: 1px solid $standout-color;
        text-align: center;
        width: 17rem;
        height: 5rem;
        cursor: pointer;
    }
}


// Footer section
footer {
    background-color: $container-color;
    height: 7rem;
    margin-top: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer__container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $container-color;
        gap: 1.3rem;

        .footer__social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $social-media-color;
            width: 3.4rem;
            height: 3.4rem;
            border-radius: 50%;

            &--text {
                font-family: $secondary-font;
                font-weight: 900;
                font-size: 1.5rem;
                color: $standout-color;
            }
        }

        .fa-cog {
            color: $standout-color;
        }
    }
    
}


// Media Queries

// Tablet and Desktop
@media screen and (min-width: 768px) {

    header, main {
        margin: 0 7rem;
    }

    // top navbar

    nav {
        margin: 4.1rem 7rem;

        .nav__name {
            font-size: 3rem;
        }

        .nav__nav-menu {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: static;
            width: auto;
            gap: 5.6rem;

            .nav__nav-item {

                .nav_nav-link {
                    font-size: 1.3rem;
                }
            }
        }

        .nav__hamburger {
            display: none;
        }

    }


    // header section

    #intro {

        .intro__big-title {
            font-size: 8rem;
            margin-top: 5.2rem;
            line-height: 9.6rem;
        }
    
        .intro__hort-rule {
            height: 0.4rem;
            margin: 1.7rem 0 2.3rem;
        }
    
        .intro__description {
            font-size: 1.3rem;
            width: 38rem;
            line-height: 2rem;
            margin-bottom: 6.9rem;
        }
    }


    // Portfolio section

    #portfolio {

        .portfolio__title-container {
    
            .portfolio__big-title {
                font-size: 4rem;
                margin-right: 2rem;
            }

    
        }

        .portfolio__container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            

            .project {
                flex-grow: 2;

                .project__img {
                    height: 16.6rem;
                    margin-top: 9rem;
                }

                .project__description {
                    
                    margin: 0.3rem 0;

                    .project__title-container {

                        .project__title {
                            font-size: 2.6rem;
                        }

                        .project__hort-rule {
                            margin: 1rem 0;
                        }

                    }

                }
    
    
            }
            
        }

        

    }

    // # Profile section

    #profile {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10% 30% 40%;
        column-gap: 4rem;
        margin-top: 17rem;

        .profile__title-container {

            grid-column: 1 / 2;
            grid-row: 1 / 2;
            
            .profile__title {
                font-size: 4rem;
                margin: auto;
            }
    
            .profile__hort-rule {
                width: 7rem;
                height: 2px;
                background-color: $standout-color;
                margin: 3px;
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
    
        }

        .profile__img-container {

            grid-column: 2 / 3;
            grid-row: 1 / 4;
            
            .profile__img {
                object-fit: cover;
                max-width: 80%;
                height: 100%;
            }
        }
    
        .profile__description {

            grid-column: 1 / 2;
            grid-row: 2 / 5;
    
            .profile__content {
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
    
            }
        }
    
    }



    

}
